body{
background-color: #0099ff;
}

h1{
color: gold;
border-style: dotted;
border-width: 7px;
border-color: navy;
}

h2{
color: gold;
}

h3{
color:gold;
}

p{
color: white;
}

li{
	display: inline;
	color: #ffd9b3;
}

hr{
	color:#000099;
}
