

grad1 {
    height: 200px;
    background: cyan; /* For browsers that do not support gradients */
    background: linear-gradient(purple, cyan, blue;) /* Standard syntax (must be last) */
}

h1{
color: gold;
border-style: dotted;
border-width: 7px;
border-color: navy;
border-spacing: 25px
}

h2{
color: gold;
}

h3{
color:gold;
}

p{
color: white;
}

li{
	display: inline;
	color: #ffd9b3;
}

hr{
	color:#000099;
}
