body {
background-color: cyan;
height: 800px;
background-image: linear-gradient(cyan, blue);
}

h1{
color: gold;
border-style: dotted;
border-width: 10px;
border-color: plum;
border-spacing: 25px
}

h2{
color: gold;
font-family: tahoma
}

h3{
color:gold;
}

p{
color: white;
font-family: lucida grande
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
	display: inline;
	color: #ffcc00;
	float: left
}

li a {
	display: block;
	color: rose;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
    background-color: #111;
}

hr{
	color:#000099;
}
