body {
background-color: cyan;
height: 2000px;
background-image: linear-gradient(cyan, blue, purple);
}

h1{
color: gold;
border-style: dotted;
border-width: 10px;
border-color: #cc00ff;
border-spacing: 25px
}

h2{
color: gold;
font-family: Verdana
}

h3{
color:gold;
}

p{
color: white;
font-family: lucida grande
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gold;
}

li{
	display: inline;
	color: indigo;
	float: left
}

li a {
	display: block;
	color: #cc00ff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
    background-color: blue;
}

hr{
	color:pink;
}
