body {
background-color: cyan;
background-image: linear-gradient(cyan, blue);
}

h1{
color: gold;
border-style: dotted;
border-width: 10px;
border-color: plum;
border-spacing: 25px
}

h2{
color: gold;
}

h3{
color:gold;
}

p{
color: white;
}

li{
	display: inline;
	color: #ffcc00;
}

hr{
	color:#000099;
}
